body {
    background-image: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 150, 0), rgb(255, 251, 0), rgb(0, 255, 13), rgb(0, 153, 255), rgb(170, 2, 170), rgb(255, 0, 255));
  }
  
.container {
    max-width: 1280px;
  }
  
.header {
    max-width: 700px;
  }

.card-body {
  min-height: 385px;
  max-height: 900px;
}
  